@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	
	.btn-green {
		@apply relative mt-5 h-[55px] w-full flex justify-center items-center text-white font-medium bg-green rounded-2xl transition-all active:bg-greenDarkBtn hover:bg-greenLightBtn hover:scale-[1.01];
	}
}

@layer components {
	* {
		font-family: 'Inter', system-ui;
	}

	body {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-color: #e7f6ff;
	}

	

	.btn-green {
		&:hover {
			img {
				transform: translateX(3px);
			}
		}
	}
}
