@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.wrapper {
		@apply max-w-[1080px] my-[50px] mx-auto bg-white shadow-wrapper rounded-[20px];
	}

	.searchBlock {
		@apply flex items-center gap-3 pl-3 border border-[#F3F3F3] rounded-xl relative;
	}

	.searchInput {
		@apply w-52 text-base outline-grey py-2 outline-0;
	}

	.searchCross {
		@apply absolute right-2 w-4 h-4 cursor-pointer transition-all hover:scale-105 hover:before:bg-greyDark hover:after:bg-greyDark before:absolute before:top-1/2 before:w-4 before:h-0.5 before:bg-grey before:rounded-full before:rotate-45 before:transition-all after:absolute after:top-1/2 after:w-4 after:h-0.5 after:bg-grey after:rounded-full after:-rotate-45 after:transition-all;
	}

	.cardPrice {
		@apply text-[11px] text-priceGrey uppercase;
	}

	.cardDeleteBtn {
		@apply relative w-8 h-8 border-2 rounded-lg flex justify-center items-center transition-all hover:bg-red hover:border-red hover:before:bg-white hover:after:bg-white before:absolute before:w-3 before:h-0.5 before:bg-grey before:rounded-full before:rotate-45 after:absolute after:w-3 after:h-0.5 after:bg-grey after:rounded-full after:-rotate-45;
	}

	.btnGreenOrder {
		@apply relative mt-5 h-[55px] w-full flex justify-center items-center text-white font-medium bg-green rounded-2xl transition-all active:bg-greenDarkBtn hover:bg-greenLightBtn hover:scale-[1.01];
	}

	.btnGreenBack {
		@apply relative mt-10 h-[55px] w-full flex justify-center items-center text-white font-medium bg-green rounded-2xl transition-all active:bg-greenDarkBtn hover:bg-greenLightBtn hover:scale-[1.01];
	}
}

@layer components {
	* {
		font-family: 'Inter', system-ui;
	}

	body {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-color: #e7f6ff;
	}

	.cart-close-btn {
		&:hover {
			svg {
				transform: scale(1.3);
				path {
					stroke: #696969;
				}
			}
		}
		svg {
			transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
			path {
				transition: stroke 0.15s cubic-bezier(0.4, 0, 0.2, 1);
			}
		}

		.btn-green {
			&:hover {
				img {
					transform: translateX(3px);
				}
			}
		}
	}
}
